*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #044;
    max-width: 900px;
    min-width: 640px;
    margin: 40px auto;
    padding: 60px;
    color: #fff;
    font-family: sans-serif
}
nav{
    margin-bottom: 30px;
}
h1{
    margin-bottom: 40px;
}
img{
    width: 80px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.grey{
    color: #aaa;
}
.info{
    display: inline-block;
    margin: 0 0 20px 20px;
    font-size: .8em;
}

@media screen and (max-width:600px){
    .container{
        min-width: 470px;
        padding: 40px;
    }
    img{
        float: left;
        margin-right: 20px;
    }
    .info{
        min-width: 120px;

    }
    h1{
        font-size: 1.6em;
    }
}
